html,
body {
    overflow-x: hidden;
}

body {
    background-color: hsl(115, 51%, 69%)
}

section {
    padding: 60px 0;
}

.nav-link:hover {
    color: #dc3545 !important;
}

#contact .row {
    border-radius: 20px;
}